<!DOCTYPE html>
<html ng-app="myapp">

<head>
  <title>myapp</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body>
  <div>
        <a ui-sref="Home">Home</a>
      </div>

    <ui-view></ui-view>


  <script src="/scripts/jquery/dist/jquery.min.js"></script>
  <script src="/scripts/filepicker-js-bower/filepicker.min.js"></script>
  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/scripts/angular-resource/angular-resource.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-touch/angular-touch.min.js"></script>
  <script src="/scripts/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/services/services.js"></script>

</body>

</html>
